<div class="login-page">
    <div class="form">
        <form class="login-form">
            <h4 class="Titulo">Restablecer Contraseña</h4>
            <i class="material-icons prefix">email</i>
            <input class="browser-default" type="email" name="email" id="email" placeholder="Correo"
                [(ngModel)]="correo" autocomplete="off">
            <button class="boton" (click)="enviarCorreo()">ACEPTAR</button>
            <button class="volver" (click)="volverInicio()">VOLVER</button>
        </form>
    </div>
</div>