<div class="bodyLogin">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l8 offset-l2 loginDiv">
                <div class="row restablecerContainer">
                    <div class="col s12 m6 l6">
                        <div class="col s11 offset-s1">
                        </div>
                    </div>
                    <div class="col s12 m5 l5 offset-l1 offset-m1">
                        <div class="reestablecerTitulo">
                            <h5>Restablecer Contraseña</h5>
                        </div>
                        <div class="row">
                            <div class="col s12 customInput">
                                <i class="material-icons prefix">email</i>
                                <input class="browser-default" type="email" name="email" id="email" placeholder="correo"
                                 [(ngModel)]="correo"   autocomplete="off">
                            </div>
                        </div>
                        <div class="row">
                            <button (click)="enviarCorreo()" class="btn col l12 s12 m12 btnLogin ">ACEPTAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>