<div class="bodyLogin">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l8 offset-l2 loginDiv">
                <div class="row restablecerContainer">
                    <div class="col s12 m6 l6">
                        <div class="col s11 offset-s1">
                        </div>
                    </div>
                    <div class="col s12 m5 l5 offset-l1 offset-m1">
                        <div class="reestablecerTitulo">
                            <h5>Ingrese su nueva contraseña</h5>
                        </div>
                        <div class="col s12 customInput">
                            <i class="material-icons prefix">vpn_key</i>
                            <input class="browser-default" type="password" name="password" id="password" [(ngModel)]="nuevaContrasena" placeholder="contraseña" autocomplete="off">

                        </div>
                        <div class="col s12 customInput">
                            <label>Ingrese de nuevo su nueva contraseña</label>
                            <i class="material-icons prefix">vpn_key</i>
                            <input class="browser-default" type="password" name="password" id="password" [(ngModel)]="nuevaContrasenaConfirmacion" placeholder="contraseña" autocomplete="off">

                        </div>
                        <br>
                        <div class="row">
                            <button (click)="actualizarContrasena()" class="btn col l12 s12 m12 btnLogin ">ACEPTAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>