<nav>
  <div class="nav-wrapper">
    <a href="/principal" class="brand-logo">
      <img src="../../../assets/imagenes/logo.png" alt="Logo"></a>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="dropdown-trigger" data-target="dropdown3">{{"Idioma" | translate}}<i
              class="material-icons right">arrow_drop_down</i></a></li>
              <li><a href="/home/empresa">{{'Empresas' | translate}}</a></li>
              <li><a href="/home/usuarios">{{'Usuarios' | translate}}</a></li>
              <li><a href="/home/ofertaLaboral">{{'Ofertas' | translate}}</a></li>
              <li><a href="/home/roles">{{'Roles' | translate}}</a></li>
              <li><a href="javascript: void(0);" (click)="logout()">{{'Salir' | translate}}</a></li>
      </ul>
      <ul id="dropdown3" class="dropdown-content idioma-nav">
        <li (click)="setIdioma(1)"><a>Español</a></li>
        <li (click)="setIdioma(2)"><a>Inglés</a></li>
      </ul>

  </div>
</nav>